@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

section.card{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}   

section.card > i{
    position: absolute;
    bottom: 15px;
    right: 15px;
   color: white;
}

div.viewport{
    position: relative;
}

img{
    width: 200px;
}

.container-1{
    height: 40%;
    background-image: linear-gradient(to right, rgb(0, 153, 255), rgb(0, 255, 119))
}

.container-2{
    height: 60%;
    background-image: linear-gradient(to right, rgb(140, 1, 133), orange);
}

body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}