@media (max-width: 600px) {
    .home-left, .home-right, .home-container01{
        display: none;
    }

    span.navbar-logo-title{
        margin-left: 0px;
    }

    .home-hero1{
        flex-wrap: wrap;
        justify-content: center;
    }

    .home-info, .home-container04, .home-btn-group{
        justify-content: center;
    }
    
    .category-card-image{
        width: 240px;
        height: 240px;
    }

    div.home-full-width-banner.section-container{
        flex-wrap: wrap;
    }

    .home-image6, .home-text30{
        width: 100%;
    }

    .home-left4{
        padding: 20px 0px;
    }

    .home-container08 > *{
        max-width: none;
    }

    .home-footer1{
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    .home-links-container{
        flex-wrap: wrap;
    }

    .home-links-container > *{
        width: 100%;
    }
}