html{
    font-family: Helvetica, sans-serif;
}

nav ul,li{
    display: inline-block;
    margin: 5px;
}

nav a{
    color: green;
    text-decoration: none;
}

nav{
    display: inline-block;
}

header{
    border-bottom: 2px solid;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

nav h1{
    font-size: 24px;
    display: inline-block;
    margin-right: 10px;
}

h1{
    font-size: 19px;
}

body{
    padding: 40px;
}