html{
    font-family: Arial, Helvetica, sans-serif;
}

.sub-heading{
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: -1.5px;
    line-height: 1.2;
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: -24px;
}

.header-title h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: purple;
    letter-spacing: -1px;
}

.ico-wrapper{
    font-size: 100px;
}

.speech{
    font-style: italic;
    color: grey;
}
